<template>
  <SearchBar
    hideButton
    @searchChange="startSearch"
  />
</template>

<script>
import SearchBar from '@/components/SearchBar'
export default {
  components: { SearchBar },
  props: {
    inputEventDelay: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
      inputTimer: null
    }
  },
  methods: {
    startSearch (search) {
      if (this.inputEventDelay === 0) {
        this.$emit('input', search)
        return
      }

      const self = this
      clearTimeout(this.inputTimer)
      this.inputTimer = setTimeout(function () {
        self.$emit('input', search)
      }, self.inputEventDelay)
    }
  }
}
</script>
