<template>
  <button
    v-on="$listeners"
    :class="[`bg-${color}-500`, `hover:bg-${color}-700`]"
    class="text-white font-bold py-2 px-4 rounded">
    <slot />
  </button>
</template>

<script>
export default {
  props: {
    color: { type: String, default: 'blue' }
  }
}
</script>
