<template>
  <div class="flex items-center">
    <BaseInput @input="searchChange" type="text" class="mr-4" />
    <BaseButton v-if="!hideButton" color="green" @click="startSearch">Search</BaseButton>
  </div>
</template>

<script>
export default {
  props: {
    hideButton: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      search: ''
    }
  },
  methods: {
    searchChange (val) {
      this.search = val
      this.$emit('searchChange', val)
    },
    startSearch () {
      this.$emit('input', this.search)
    }
  }
}
</script>
