<template>
  <div class="flex flex-col items-center">
    <img alt="Vue logo" src="./assets/logo.png">
    <SearchBar v-model="searchBar" class="mb-4" />
    <AutomaticSearch v-model="automaticSearch" :inputEventDelay="1000" />

    <p>Search bar search: {{ searchBar }}</p>
    <p>Automatic bar search: {{ automaticSearch }}</p>
  </div>
</template>

<script>
import SearchBar from '@/components/SearchBar'
import AutomaticSearch from '@/components/AutomaticSearch'
export default {
  components: { SearchBar, AutomaticSearch },
  data () {
    return {
      searchBar: '',
      automaticSearch: ''
    }
  }
}
</script>
